FIREBASE_API_KEY=your-api-key
FIREBASE_AUTH_DOMAIN=sixydashy.firebaseapp.com
FIREBASE_DATABASE_URL=https://sixydashy-default-rtdb.firebaseio.com
FIREBASE_PROJECT_ID=sixydashy
FIREBASE_STORAGE_BUCKET=sixydashy.firebasestorage.app
FIREBASE_MESSAGING_SENDER_ID=994645586219
FIREBASE_APP_ID=1:994645586219:web:c71222adf6592db994956e
FIREBASE_MEASUREMENT_ID=G-JLH3EQ4PSC
